.top-bg{
    background: url('/assets/img/additional/banner15-2.jpg');
    background-size: cover;
}

/*@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');*/
/*================================================*/
/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
.carousel-item > div {
  float: left;
}
.carousel-by-item [class*="cloneditem-"] {
  display: none;
}

#smile:hover{
    color:#00b709;
}

#meh:hover{
    color:#fff321;
}

#frown:hover{
    color:#ff3838;
}

.box-pieces-left{
    width:100%;
    min-height:400px;
    background:white;
    padding:5px;
}

.box-pieces-right{
    width:100%;
    min-height:20px;
    background:white;
    padding:15px;
    margin-bottom:11px;
}

.box-pieces-right-1{
    width:100%;
    min-height:150px;
    background:white;
    padding: 15px;
    margin-bottom:11px;
}

.box-pieces-right-new-btn{
    width:100%;
    min-height:40px;
    background:white;
    padding: 15px;
    margin-bottom:11px;
}

#update_media{
    text-align: left;
}

#update_btn{
    text-align: right;
}


@media (max-width: 575.98px) {
    #update_media, #update_btn{
        text-align: center;
    }
}

@media (min-width: 576px){
    .jumbotron {
        padding: 2rem 1rem;
    }
}

.jumbotron{
    margin-bottom: 0px;
}