.menu {
  border-top: 1px solid #f5f3ef;
  font-family: "PT Sans Narrow", sans-serif;
}
.dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 10px; // remove the gap so it doesn't close
 }
 
 
.menuWrapper {
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  font-size: 0;
  box-sizing: padding-box;
}

.menuWrapper > li {
    display: inline-block;
    width: 110.9px;
    padding: 40px 10px 35px;
    border: 1px solid #f5f3ef;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
}
.dropdown-menu-title {
    text-transform: uppercase;
    text-align: center;
    color: #9c9b9b;
}

.dropdown-menu-title:hover {
    color: #9c9b9b;
    text-decoration: none;
}

.menuWrapper > li a {
    color: #9c9b9b !important;
}

.dropdown {
    width: 130.9px;
    display: inline-block;
    padding: 40px 10px 35px;
    border: 1px solid #f5f3ef;
    font-size: 11px;
    text-align: center;
}

.dropdown-menu {
  padding: 0;
  margin-top: 10px;
}
.dropdown-menu > li > a {
  padding: 20px 20px;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: 8px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-menu li {
  border-bottom: 1px solid #f5f3ef;
}
.dropdown-menu li:last-child {
  border-bottom: none;
}
.dropdown-submenu > .dropdown-menu:before {
  content: '';
  position: absolute;
  bottom: 80%;
  left: -6px;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(255, 255, 255, 0.9);
  border-top: 5px solid transparent;
  border-right-color: #ffffff;
}
.dropdown-submenu > .dropdown-menu:after {
  content: '';
  position: absolute;
    bottom: 62%;
    left: -11px;
    width: 7%;
    height: 70px;
  background: transparent;
}
.dropdown-menu-title:after {
    content: '';
    position: absolute;
    bottom: -13%;
    left: -11px;
    width: 117%;
    height: 20px;
    background: transparent;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: inherit;
  text-decoration: none;
  background: transparent;
  padding-bottom: 15px;
  border-bottom: 5px solid #7db713;
}
.dropdown-menu.multi-level:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.dropdown-menu.multi-level:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}


.dropdown-menu {
    padding: 0;
    margin-top: 10px;
}


.dropdown-menu>li>a {
    padding: 20px 20px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 105%;
    margin-top: -6px;
    margin-left: 0px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-menu li {
    border-bottom: 1px solid #f5f3ef;
}
.dropdown-menu li:last-child {
    border-bottom: none;
}


.dropdown-submenu>.dropdown-menu:before {
    content: '';
    position: absolute;
    bottom: 80%;
    left: -6px;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(255,255,255,0.9);
    border-top: 5px solid transparent;
    border-right-color: rgba(255,255,255,1);
}


.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: inherit;
    text-decoration: none;
    padding-bottom: 0;
    background: transparent;
    padding-bottom: 15px;
    border-bottom: 5px solid #7db713;
}

.dropdown-menu.multi-level:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu.multi-level:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}